html,
body {
  font-size: 8px;
  height: 100%;
}

body {
  background-color: var(--color-bg);
  max-width: 430px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Bai Jamjuree", sans-serif;
}
