.board-game {
  display: flex;
  padding: 4rem;
  justify-content: center;
  align-items: center;
  align-content: center;
  gap: 3rem 6rem;
  flex-wrap: wrap;
  background-color: var(--color-fundo3);
}
